@charset "UTF-8";

body {
    background-color: rgb(104, 156, 156);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
}

h1 {
    color: rgb(1, 83, 15);
}

h2 {
    color: rgb(0, 41, 0);
}